page-noticias {
    .atributo-nome {
        font-size: 20px;
    }

    .table {
        margin-bottom: 0px;
    }

    .card-content-md {
        padding: 0px 11px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .card-content-md {
        padding: 0px 0px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .table td, .table th {
        font-size: 14px;
    }
}


.toolbar-background-md {
    border-color: #fff;
    background: #31cc81;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #4CAF50;
    opacity: 1;
    border-bottom: 2px solid;
}

.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    /* border-bottom-width: 2px; */
    /* border-bottom-style: solid; */
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #31cc81;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    /* font-weight: 500; */
    color: #f8f9fa;
    margin-left: 6em;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #f8f9fa;
    background-color: transparent;
}

.card-md {
    margin: 0px;
    margin-top: 12px !important;
    border-radius: 2px !important;
    width: 100% !important;
    font-size: 1.4rem !important;
    background: #fff !important;
    /* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.card-title-md {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    color: #343a40;
    margin: 5px 8px;
    padding: 8px 0px;
}

.card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #343a40;
    padding-left: 10px;
    padding-bottom: 10px;
}