page-noticias {
    .atributo-nome {
        font-size: 20px;
    }

    .table {
        margin-bottom: 0px;
    }

    .card-content-md {
        padding: 0px 11px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .card-content-md {
        padding: 0px 0px;
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .table td, .table th {
        font-size: 14px;
    }
}